@import '../../utils/styles/variables.scss';
@import '../../utils/styles/breckpoints.scss';
.container {
  padding: 100px 25px 0;
  background-color: $medium-font;

  width: 100vw;
  max-width: 1500px;
  margin: 0 auto;

  @include small {
    padding: 0;
    padding-top: 100px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;

  @include large {
    flex-direction: column;
  }
}

.title {
  color: $secondary-font;
  padding: 40px 0;
}
