@import '../../../utils/styles/breckpoints.scss';
@import '../../../utils/styles/variables.scss';

.container {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background-image: url('/banner.jpg');
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  overflow: hidden;
}
.text {
  position: absolute;
  z-index: 1;
  font-size: 60px;
  bottom: 10px;
  left: 25px;
  font-weight: 400;
  color: $main-green;
  @include small {
    font-size: 30px;
  }
  @include medium {
    font-size: 40px;
  }
}

.brand {
  color: $main-gold;
}
