@import '../../../utils/styles/breckpoints.scss';
@import '../../../utils/styles/variables.scss';

.container {
  position: relative;
  height: 100vh;
}

.text {
  position: absolute;
  z-index: 1;
  font-size: 60px;
  top: 60%;
  left: 25px;
  font-weight: 400;
  color: $main-green;
  @include small {
    font-size: 30px;
  }
  @include medium {
    font-size: 40px;
  }
}

.image {
  object-position: left top;
}
