@import '../../../utils/styles/variables.scss';
@import '../../../utils/styles/breckpoints.scss';

.container {
  padding: 80px 25px;
  background-color: $main-green;
}

.title {
  font-size: 60px;

  text-transform: uppercase;
  padding: 80px 0;
  padding-top: 0;
  font-weight: 400;
  color: $secondary-font;

  @include medium {
    font-size: 40px;
  }
}

.items {
  display: flex;

  @include large {
    flex-direction: column;
  }
}

.item {
  width: 33.3%;
  padding: 0 20px;
  border-left: 2px solid $secondary-font;

  @include large {
    width: 100%;
    border: none;
    border-bottom: 2px solid $secondary-font;
    padding: 50px 0;
  }
}

.itemTitle {
  height: 100px;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  color: $main-gold;
  margin-bottom: 30px;

  @include large {
    text-align: start;
  }
}

.description {
  text-align: center;
  color: $secondary-font;
  font-size: 20px;
  @include large {
    text-align: start;
  }
}
