/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/button/Button.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_container__g6l6q {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.Button_container__g6l6q button {
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(2, 44, 25, 0.95);
}
@media (max-width: 468px) {
  .Button_container__g6l6q button {
    font-size: 16px;
  }
}
.Button_container__g6l6q:hover {
  opacity: 0.6;
}

.Button_header__RU1dN {
  background-color: #daa520;
  padding: 15px 30px;
}
@media (max-width: 468px) {
  .Button_header__RU1dN {
    padding: 15px;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/forms/form/Form.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Form_container__tvbsB {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.Form_container__tvbsB span {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #666666;
}
.Form_container__tvbsB input, .Form_container__tvbsB textarea {
  padding: 15px;
  width: 100%;
  border: 1px solid lightgrey;
  outline: none;
  outline-color: rgba(2, 44, 25, 0.95) !important;
  color: rgba(2, 44, 25, 0.95);
  transition: border-radius 0.5s ease;
}
.Form_container__tvbsB input::placeholder, .Form_container__tvbsB textarea::placeholder {
  color: #666666;
}
.Form_container__tvbsB input:focus, .Form_container__tvbsB textarea:focus {
  border-radius: 10px;
  border: 3px solid rgba(2, 44, 25, 0.95);
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/forms/header-form/HeaderForm.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.HeaderForm_error__knSXu {
  color: rgb(255, 165, 0);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/homePageComponents/location/Location.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Location_container__57tfV {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  padding: 80px 25px;
  width: 100%;
}
@media (max-width: 768px) {
  .Location_container__57tfV {
    flex-direction: column-reverse;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.Location_form__ZKFLt {
  width: 100%;
  padding: 25px;
  background-color: #fff;
}
@media (max-width: 768px) {
  .Location_form__ZKFLt {
    height: 50%;
  }
}

.Location_map__47U2y {
  width: 100%;
}
@media (max-width: 768px) {
  .Location_map__47U2y {
    height: 70vh;
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/contacts/Contacts.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Contacts_container__c3yOV {
  background-color: #666666;
  color: aliceblue;
  padding-top: 80px;
}

.Contacts_title__QDw_z {
  padding: 100px 25px 0;
  color: rgba(2, 44, 25, 0.95);
}

.Contacts_contacts__S7r0I {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 40px 25px;
}
@media (max-width: 768px) {
  .Contacts_contacts__S7r0I {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
}

.Contacts_numbers__7vl4V {
  width: 50%;
}
.Contacts_numbers__7vl4V a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
}
.Contacts_numbers__7vl4V a:hover {
  color: #daa520;
}
.Contacts_numbers__7vl4V a h2 {
  font-size: 40px;
}

.Contacts_findUs___OQ6W {
  width: 70%;
}
@media (max-width: 768px) {
  .Contacts_findUs___OQ6W {
    width: 100%;
  }
}
.Contacts_findUs___OQ6W p {
  width: 50%;
  margin-left: auto;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .Contacts_findUs___OQ6W p {
    width: 100%;
    margin: 0;
    padding: 40px 25px;
  }
}

.Contacts_location__t_EQa {
  background-color: #daa520;
}
