$main-green: rgba(2, 44, 25, 0.95);

$secoondary-green: #50c878;

$main-gold: #daa520;
$secondary-gold: #daa520;

$main-font: black;
$medium-font: #666666;
$secondary-font: aliceblue;

$gold-hover: rgba(218, 165, 32, 0.2);
