@import '../../../utils/styles/variables.scss';
@import '../../../utils/styles/breckpoints.scss';
.container {
  display: flex;
  background-color: $main-gold;
  @include medium {
    flex-direction: column;
  }
}

.image {
  position: relative;
  min-height: 30vh;
  max-height: 500px;
  width: 50%;
  padding: 30px;

  @include medium {
    width: 100%;
  }
}

.text {
  width: 50%;
  padding: 40px;

  @include medium {
    width: 100%;
  }
  & h2 {
    text-transform: uppercase;
    color: $main-green;
  }

  & p {
    color: $main-green;

    margin-bottom: 40px;
  }
}
