@import '../../../utils/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;

  span {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: $medium-font;
  }

  & input,
  & textarea {
    padding: 15px;
    width: 100%;
    border: 1px solid lightgrey;
    outline: none;
    outline-color: $main-green !important;
    color: $main-green;
    transition: border-radius 0.5s ease;
    &::placeholder {
      color: $medium-font;
    }

    &:focus {
      border-radius: 10px;
      border: 3px solid $main-green;
      font-size: 12px;
    }
  }
}
