@import '../../utils/styles/variables.scss';

.container {
  overflow: hidden;
  width: 80px;
  height: 80px;
  z-index: 200;

  & img {
    transform: translate(-30%, -5%);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $main-green;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  transform: scale(0.6);
  transition: all 0.3s ease;
}

.name {
  color: $secondary-font;
  font-size: 10px;
}

.surName {
  color: $main-gold;
  margin-bottom: 20px;
}
