@import '../../utils/styles/variables.scss';
@import '../../utils/styles/breckpoints.scss';

.container {
  padding-top: 80px;
  max-width: 1500px;
  width: 100vw;
  box-sizing: border-box;
  margin: 0 auto;
}
.fake {
  height: 80px;
  background-color: $medium-font;
}
.title {
  font-size: 60px;
  padding: 100px 0 50px;
  padding: 0 25px;
  margin-top: 120px;
  margin-bottom: 100px;
  color: $main-green;
}
.itemTitle {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 32px;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
.itemActive {
  background-color: $main-green;
  .name {
    color: $secondary-font;
  }
}

.name {
  flex-grow: 2;
  color: $main-green;
  transition: all 0.5s ease;
}

.action {
  color: $main-gold;
  font-size: 60px;
}

.list {
  padding: 0 25px;
}

.description {
  height: 80px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  background-color: lightgrey;
  border-bottom: 2px solid $secondary-font;
}

.servise {
  width: 65%;
}

.price {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  font-size: 32px;
  color: $main-gold;
  border-left: 2px solid $secondary-font;

  text-align: end;

  @include small {
    font-size: 17px;
    width: 35%;
  }
}

.action {
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.5);
    cursor: pointer;
  }
}

.children {
  overflow: hidden;
}
