@import '../../../utils/styles/breckpoints.scss';
@import '../../../utils/styles/variables.scss';

.container {
  display: flex;
  height: 80vh;
  padding: 80px 25px;
  width: 100%;

  @include medium {
    flex-direction: column-reverse;
    height: 140vh;
  }
}

.form {
  width: 100%;
  padding: 25px;
  background-color: #fff;

  &:hover {
    transition: all 0.5s ease;
    border-radius: 0 0 0 50px;
  }

  @include medium {
    height: 50%;
  }
}

.map {
  width: 100%;

  @include medium {
    height: 50%;
  }
}
