@import '../../../utils/styles/breckpoints.scss';
@import '../../../utils/styles/variables.scss';

.container {
  display: flex;
  height: fit-content;
  padding: 80px 25px;
  width: 100%;

  @include medium {
    flex-direction: column-reverse;
    height: fit-content;
  }
}

.form {
  width: 100%;
  padding: 25px;
  background-color: #fff;

  @include medium {
    height: 50%;
  }
}

.map {
  width: 100%;

  @include medium {
    height: 70vh;
  }
}
