@import '../../utils/styles/variables.scss';
.container {
}

.icon {
  color: $main-gold;
  font-size: 32px;
  transform: scale(2);
  transition: all 0.5s ease;

  &:hover {
    transform: scale(3);
    cursor: pointer;
  }
}

.green {
  color: $main-green;
}
