@import '../../utils/styles/variables.scss';
.container {
  width: fit-content;
}

.icon {
  color: $main-gold;
  font-size: 32px;
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(3);
    cursor: pointer;
  }
}

.green {
  color: $main-green;
}
