/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.modal-content {
  border-radius: 0 !important;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/footer/Footer.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Footer_container__TS4nh {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
  background-color: rgba(2, 44, 25, 0.95);
}
@media (max-width: 768px) {
  .Footer_container__TS4nh {
    gap: 80px;
  }
}

.Footer_number__b2SvR {
  font-size: 45px;
  text-decoration: none;
  color: aliceblue;
  transition: all 0.3s ease;
}
@media (max-width: 468px) {
  .Footer_number__b2SvR {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .Footer_number__b2SvR {
    text-align: center;
    width: 100%;
  }
}
.Footer_number__b2SvR:hover {
  color: #daa520;
}

.Footer_nav__nlQGx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer_additional__quc1_ {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .Footer_additional__quc1_ {
    flex-direction: column;
    gap: 30px;
  }
}

.Footer_hours__EtbU5 {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #666666;
}
@media (max-width: 468px) {
  .Footer_hours__EtbU5 {
    flex-direction: column;
    margin-bottom: 50px;
  }
}

.Footer_adress__3QW48 {
  color: #666666;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/nav-link/NavLink.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.NavLink_container__C_vPj {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  color: inherit;
}
.NavLink_container__C_vPj a {
  color: aliceblue;
  text-decoration: none;
  transition: all 0.3s ease;
}
.NavLink_container__C_vPj a:hover {
  color: #daa520;
}

.NavLink_scroll__yU76l {
  height: 90px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/nav/Nav.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Nav_container__oJyfr {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .Nav_container__oJyfr {
    display: none;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/modals/modal/Modal.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Modal_Container__7RIUQ {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(122, 120, 120, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal_modal__olpWF {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  width: 450px;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 0.3s ease;
  padding: 20px;
  cursor: pointer;
  max-height: 90vh;
}
@media (max-width: 468px) {
  .Modal_modal__olpWF {
    width: 90vw;
  }
}

.Modal_servises__I5qTw {
  width: 90vw;
}

.Modal_icon__ipR4e {
  display: block;
  margin-left: auto;
  font-size: 32px;
  transition: all 0.3s ease;
  color: rgba(2, 44, 25, 0.95);
}
.Modal_icon__ipR4e:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.Modal_children__0rTby {
  flex-grow: 2;
  overflow-y: scroll;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/button/Button.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_container__g6l6q {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.Button_container__g6l6q button {
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(2, 44, 25, 0.95);
}
@media (max-width: 468px) {
  .Button_container__g6l6q button {
    font-size: 16px;
  }
}
.Button_container__g6l6q:hover {
  opacity: 0.6;
}

.Button_header__RU1dN {
  background-color: #daa520;
  padding: 15px 30px;
}
@media (max-width: 468px) {
  .Button_header__RU1dN {
    padding: 15px;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/forms/form/Form.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Form_container__tvbsB {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.Form_container__tvbsB span {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #666666;
}
.Form_container__tvbsB input, .Form_container__tvbsB textarea {
  padding: 15px;
  width: 100%;
  border: 1px solid lightgrey;
  outline: none;
  outline-color: rgba(2, 44, 25, 0.95) !important;
  color: rgba(2, 44, 25, 0.95);
  transition: border-radius 0.5s ease;
}
.Form_container__tvbsB input::placeholder, .Form_container__tvbsB textarea::placeholder {
  color: #666666;
}
.Form_container__tvbsB input:focus, .Form_container__tvbsB textarea:focus {
  border-radius: 10px;
  border: 3px solid rgba(2, 44, 25, 0.95);
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/forms/header-form/HeaderForm.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.HeaderForm_error__knSXu {
  color: rgb(255, 165, 0);
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/top-actions/TopActions.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.TopActions_container__YmGkf {
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 3;
}
@media (max-width: 468px) {
  .TopActions_container__YmGkf {
    gap: 10px;
  }
}

.TopActions_icon__aBMSe {
  font-size: 32px;
  color: aliceblue;
  display: none;
}
@media (max-width: 768px) {
  .TopActions_icon__aBMSe {
    display: block;
  }
}

.TopActions_link__V_uoN {
  transition: all 0.5s ease;
}
@media (max-width: 1200px) {
  .TopActions_link__V_uoN {
    display: none;
  }
}

.TopActions_mobileLink__KWiAC {
  display: none;
}
@media (max-width: 1200px) {
  .TopActions_mobileLink__KWiAC {
    display: block;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/social-medias/SocialMedias.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SocialMedias_sociall__7n14a {
  display: flex;
  gap: 50px;
  margin-left: auto;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  .SocialMedias_sociall__7n14a {
    justify-content: center;
    width: 100%;
  }
}

.SocialMedias_icon__USLge {
  font-size: 45px;
  color: inherit;
}

.SocialMedias_border__cjCDa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px solid aliceblue;
  border-radius: 50%;
  color: #666666;
  transition: all 0.5s ease;
}
.SocialMedias_border__cjCDa:hover {
  color: aliceblue;
  background-color: #daa520;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/mobile-nav/MobileNav.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MobileNav_container__C06Sw {
  display: none;
}
@media (max-width: 768px) {
  .MobileNav_container__C06Sw {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 170px;
    height: 0;
    width: 0;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: rgba(2, 44, 25, 0.95);
    color: #daa520;
  }
}

.MobileNav_links___MW8C {
  transform: translateY(70px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/logo/Logo.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Logo_container__1LJ4r {
  overflow: hidden;
  width: 80px;
  height: 80px;
  z-index: 1000;
  transition: all 0.3s ease;
}
.Logo_container__1LJ4r:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.Logo_container__1LJ4r img {
  transform: translate(-30%, -5%);
}

.Logo_wrapper__au2M_ {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(2, 44, 25, 0.95);
  border-radius: 50%;
  width: 130px;
  height: 130px;
  transform: scale(0.6);
  transition: all 0.3s ease;
}

.Logo_name__3N7Yh {
  color: aliceblue;
  font-size: 10px;
}

.Logo_surName__NYXSd {
  color: #daa520;
  margin-bottom: 20px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/header/Header.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Header_container__Q9KhP {
  box-sizing: border-box;
  transition: background-color 0.5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(2, 44, 25, 0);
  height: 80px;
  padding-right: 25px;
  z-index: 2;
  max-width: 1500px;
  margin: 0 auto;
}
.Header_container__Q9KhP:hover {
  background-color: rgba(2, 44, 25, 0.86);
}

.Header_wrapper__lbvH4 {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.Header_line__xdXKf {
  position: relative;
  margin: 0 auto;
  width: 5px;
  background-color: #daa520;
  height: 2px;
  animation-name: Header_width_animation__sEDgc;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  z-index: 2;
}

.Header_scroll__KV1Wn {
  background-color: rgba(2, 44, 25, 0.95);
  color: aliceblue;
}

.Header_bacground__BDeh_ {
  transition: all 0.5s ease;
}

@keyframes Header_width_animation__sEDgc {
  to {
    width: 100%;
  }
}
