/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_container__aoG4z {
  flex-grow: 1;
  background-color: aliceblue;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/button/Button.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_container__g6l6q {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.Button_container__g6l6q button {
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(2, 44, 25, 0.95);
}
@media (max-width: 468px) {
  .Button_container__g6l6q button {
    font-size: 16px;
  }
}
.Button_container__g6l6q:hover {
  opacity: 0.6;
}

.Button_header__RU1dN {
  background-color: #daa520;
  padding: 15px 30px;
}
@media (max-width: 468px) {
  .Button_header__RU1dN {
    padding: 15px;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/forms/form/Form.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Form_container__tvbsB {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.Form_container__tvbsB span {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #666666;
}
.Form_container__tvbsB input, .Form_container__tvbsB textarea {
  padding: 15px;
  width: 100%;
  border: 1px solid lightgrey;
  outline-color: rgba(2, 44, 25, 0.95);
  color: rgba(2, 44, 25, 0.95);
  transition: border-radius 0.3s ease;
}
.Form_container__tvbsB input::placeholder, .Form_container__tvbsB textarea::placeholder {
  color: #666666;
}
.Form_container__tvbsB input:focus, .Form_container__tvbsB textarea:focus {
  border-radius: 10px;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/forms/header-form/HeaderForm.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.HeaderForm_error__knSXu {
  color: rgb(255, 165, 0);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/homePageComponents/about/About.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.About_container__CIL_Y {
  padding: 80px 25px;
  margin-bottom: 40px;
}

.About_title__AGQzS {
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .About_title__AGQzS {
    font-size: 40px;
  }
}

.About_description__zp0wk {
  display: block;
  width: 50%;
  margin: 0 auto;
  transform: translateX(20%);
  color: #666666;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .About_description__zp0wk {
    flex-direction: column;
    width: 100%;
    transform: translateX(0);
  }
}

.About_imagesContainer___ZGC3 {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  height: 600px;
}
@media (max-width: 768px) {
  .About_imagesContainer___ZGC3 {
    flex-direction: column;
    height: 1300px;
  }
}
@media (max-width: 468px) {
  .About_imagesContainer___ZGC3 {
    height: 800px;
  }
}

.About_left__taKPk {
  position: relative;
  height: 100%;
  width: 45%;
  transition: all 0.6s ease;
}
.About_left__taKPk:hover {
  transform: translateX(10px);
}
@media (max-width: 768px) {
  .About_left__taKPk {
    width: 100%;
    height: 45%;
    margin-bottom: 100px;
  }
}

.About_leftTop__rnb17 {
  height: 100%;
  position: relative;
  background-color: gray;
  border-radius: 0 50px 0 0;
  overflow: hidden;
}

.About_leftBottom__AhXRf {
  position: absolute;
  background-color: rgb(128, 94, 94);
  width: 300px;
  height: 180px;
  right: -80px;
  transform: translateY(-50%);
}
@media (max-width: 468px) {
  .About_leftBottom__AhXRf {
    right: 0;
  }
}

.About_right__KARu8 {
  height: 100%;
  width: 45%;
  transition: all 0.6s ease;
}
.About_right__KARu8:hover {
  transform: translateX(10px);
}
@media (max-width: 768px) {
  .About_right__KARu8 {
    width: 100%;
    height: 45%;
  }
}

.About_rightTop__Isq2B {
  height: 60%;
  background-color: gray;
  margin-bottom: 40px;
  border-radius: 0 0 50px 0;
  overflow: hidden;
}

.About_rightBottom__PaZVS {
  height: 20%;
  color: #666666;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/homePageComponents/banner/Banner.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Banner_container__He4uj {
  position: relative;
  height: 90vh;
}

.Banner_text__J_9zu {
  position: absolute;
  z-index: 1;
  font-size: 70px;
  top: 70%;
  left: 25px;
  font-weight: 400;
  color: aliceblue;
}
@media (max-width: 468px) {
  .Banner_text__J_9zu {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .Banner_text__J_9zu {
    font-size: 40px;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/social-medias/SocialMedias.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SocialMedias_sociall__7n14a {
  display: flex;
  gap: 50px;
  margin-left: auto;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  .SocialMedias_sociall__7n14a {
    justify-content: center;
    width: 100%;
  }
}

.SocialMedias_icon__USLge {
  font-size: 45px;
  color: inherit;
}

.SocialMedias_border__cjCDa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px solid aliceblue;
  border-radius: 50%;
  color: #666666;
  transition: all 0.5s ease;
}
.SocialMedias_border__cjCDa:hover {
  color: aliceblue;
  background-color: #daa520;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/logo/Logo.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Logo_container__1LJ4r {
  overflow: hidden;
  width: 80px;
  height: 80px;
  z-index: 200;
}
.Logo_container__1LJ4r img {
  transform: translate(-30%, -5%);
}

.Logo_wrapper__au2M_ {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(2, 44, 25, 0.95);
  border-radius: 50%;
  width: 130px;
  height: 130px;
  transform: scale(0.6);
  transition: all 0.3s ease;
}

.Logo_name__3N7Yh {
  color: aliceblue;
  font-size: 10px;
}

.Logo_surName__NYXSd {
  color: #daa520;
  margin-bottom: 20px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/homePageComponents/mobile-enter/MobileEnter.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MobileEnter_container__JeUUF {
  display: none;
}
@media (max-width: 468px) {
  .MobileEnter_container__JeUUF {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(2, 44, 25);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
  }
}

.MobileEnter_continue__8to_E {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  gap: 10px;
  transform: scale(0.7);
  z-index: 101;
}
.MobileEnter_continue__8to_E p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: aliceblue;
}

.MobileEnter_social__RD57l {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  transform: scale(0.7);
  display: flex;
  align-items: center;
}

.MobileEnter_logo__NkY8X {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  transform: translateY(40%) scale(250%);
}

.MobileEnter_wrapper__d_U_o {
  display: flex;
  justify-content: center;
  width: 95vw;
  height: 95vh;
  background-image: url("/iphone.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100;
}

.MobileEnter_overlay__dwbHL {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none;
}

.MobileEnter_container__JeUUF.MobileEnter_open__rQa9J {
  transform: translateX(0);
}

.MobileEnter_icon__12Rf5 {
  font-size: 32px;
  color: aliceblue;
  animation: MobileEnter_blink__lQfgO 1.5s infinite;
}

@keyframes MobileEnter_blink__lQfgO {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/homePageComponents/why-we/WhyWe.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.WhyWe_container__a0Eu3 {
  padding: 80px 25px;
  background-color: rgba(2, 44, 25, 0.95);
}

.WhyWe_title__QjrIP {
  font-size: 60px;
  text-transform: uppercase;
  padding: 80px 0;
  padding-top: 0;
  font-weight: 400;
  color: aliceblue;
}
@media (max-width: 768px) {
  .WhyWe_title__QjrIP {
    font-size: 40px;
  }
}

.WhyWe_items__TGpem {
  display: flex;
}
@media (max-width: 1200px) {
  .WhyWe_items__TGpem {
    flex-direction: column;
  }
}

.WhyWe_item__hwRg5 {
  width: 33.3%;
  padding: 0 50px;
  border-left: 2px solid aliceblue;
}
@media (max-width: 1200px) {
  .WhyWe_item__hwRg5 {
    width: 100%;
    border: none;
    border-bottom: 2px solid aliceblue;
    padding: 50px 0;
  }
}

.WhyWe_itemTitle__M9YVg {
  height: 100px;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  color: #daa520;
}
@media (max-width: 1200px) {
  .WhyWe_itemTitle__M9YVg {
    text-align: start;
  }
}

.WhyWe_description__jyPgy {
  text-align: center;
  color: aliceblue;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .WhyWe_description__jyPgy {
    text-align: start;
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/homePageComponents/servises/Servises.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Servises_container__Cy8aQ {
  padding: 80px 25px;
}

.Servises_title__dJkuT {
  font-size: 60px;
  font-weight: 400;
  padding: 80px 0;
}
@media (max-width: 768px) {
  .Servises_title__dJkuT {
    font-size: 40px;
  }
}

.Servises_item__j_r_R {
  display: flex;
  overflow: hidden;
  padding-top: 0;
  margin: 40px 0;
  transition: all 0.3s ease;
}
.Servises_item__j_r_R:hover {
  border-radius: 0 0 50px 0;
}
.Servises_item__j_r_R:hover {
  background-color: #666666;
  color: aliceblue;
}
@media (max-width: 1200px) {
  .Servises_item__j_r_R {
    flex-wrap: wrap;
  }
}

.Servises_number__Xxt7I {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 40px;
  font-weight: 400;
  color: inherit;
}

.Servises_description___Tpsw {
  width: 40%;
  padding: 80px 0;
}
.Servises_description___Tpsw h2 {
  padding: 10px 0;
  font-size: 40px;
  font-weight: 400;
  color: inherit;
}
.Servises_description___Tpsw p {
  color: inherit;
  padding: 10px 0;
}
@media (max-width: 1200px) {
  .Servises_description___Tpsw {
    width: 80%;
  }
}

.Servises_img___iKBG {
  position: relative;
  width: 40%;
  flex-grow: 2;
}
.Servises_img___iKBG:hover {
  transition: all 0.3s ease;
  transform: translate(10px, -10px);
}
@media (max-width: 1200px) {
  .Servises_img___iKBG {
    height: 300px;
  }
}

.Servises_image__WoQuf {
  transform: translate(10px, -10px);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/homePageComponents/location/Location.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Location_container__57tfV {
  display: flex;
  height: 80vh;
  padding: 80px 25px;
  width: 100%;
}
@media (max-width: 768px) {
  .Location_container__57tfV {
    flex-direction: column-reverse;
    height: 140vh;
  }
}

.Location_form__ZKFLt {
  width: 100%;
  padding: 25px;
  background-color: #fff;
}
.Location_form__ZKFLt:hover {
  transition: all 0.5s ease;
  border-radius: 0 0 0 50px;
}
@media (max-width: 768px) {
  .Location_form__ZKFLt {
    height: 50%;
  }
}

.Location_map__47U2y {
  width: 100%;
}
@media (max-width: 768px) {
  .Location_map__47U2y {
    height: 50%;
  }
}
