/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/modals/modal/Modal.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Modal_Container__7RIUQ {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(122, 120, 120, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal_modal__olpWF {
  background-color: aliceblue;
  width: 450px;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 0.3s ease;
  padding: 20px;
  cursor: pointer;
  max-height: 90vh;
  overflow-y: scroll;
}
.Modal_modal__olpWF:hover {
  border-radius: 0 0 50px 0;
}
@media (max-width: 468px) {
  .Modal_modal__olpWF {
    width: 90vw;
  }
}

.Modal_servises__I5qTw {
  width: 80vw;
}

.Modal_icon__ipR4e {
  display: block;
  margin-left: auto;
  font-size: 32px;
  transition: all 0.3s ease;
}
.Modal_icon__ipR4e:hover {
  transform: scale(1.5);
  cursor: pointer;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/modals/serviseModal/ServiseModal.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ServiseModal_container__uUwod p {
  padding: 25px 0;
}

.ServiseModal_li__dHf1X::before {
  content: "f";
  color: transparent;
  display: inline-block;
  position: relative;
  top: 8px;
  left: -8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #daa520;
}

.ServiseModal_li__dHf1X {
  list-style-type: none;
  margin-left: 20px;
  margin-bottom: 20px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/learn-more/LearnMore.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.LearnMore_icon__5Doxb {
  color: #daa520;
  font-size: 32px;
  transform: scale(2);
  transition: all 0.5s ease;
}
.LearnMore_icon__5Doxb:hover {
  transform: scale(3);
  cursor: pointer;
}

.LearnMore_green__QNI19 {
  color: rgba(2, 44, 25, 0.95);
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/servisesPageComponents/servise/Servise.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Servise_container__rQmML {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 47vw;
  height: 49vh;
  background-color: aliceblue;
  margin-bottom: 30px;
  color: rgba(2, 44, 25, 0.95);
  transition: all 0.5s ease;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .Servise_container__rQmML {
    width: 96vw;
  }
}
@media (max-width: 468px) {
  .Servise_container__rQmML {
    flex-direction: column-reverse;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.Servise_container__rQmML:hover {
  background-color: #daa520;
  border-radius: 0 50px 0 0;
}

.Servise_image__oQK66 {
  position: relative;
  width: 25vw;
  height: 25vh;
}
@media (max-width: 1200px) {
  .Servise_image__oQK66 {
    width: 44vw;
    height: 40vh;
  }
}
@media (max-width: 468px) {
  .Servise_image__oQK66 {
    width: 100%;
    height: 40vh;
  }
}

.Servise_text__2Srw1 {
  width: 25vw;
  padding: 40px;
  color: inherit;
}
@media (max-width: 1200px) {
  .Servise_text__2Srw1 {
    width: 44vw;
    height: 40vh;
  }
}
@media (max-width: 768px) {
  .Servise_text__2Srw1 {
    width: 50%;
    padding: 10px;
  }
}
@media (max-width: 468px) {
  .Servise_text__2Srw1 {
    padding-top: 20px;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.Servise_text__2Srw1 h3 {
  color: inherit;
  margin-bottom: 30px;
}
.Servise_text__2Srw1 p {
  color: inherit;
}

.Servise_learnMore__P5eos {
  position: absolute;
  right: 50px;
  top: 60px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/servises/ServisesPage.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ServisesPage_container__ymyYJ {
  padding: 100px 25px 0;
  background-color: #666666;
}
@media (max-width: 468px) {
  .ServisesPage_container__ymyYJ {
    padding: 0;
    padding-top: 100px;
  }
}

.ServisesPage_list__p_vYP {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
@media (max-width: 1200px) {
  .ServisesPage_list__p_vYP {
    flex-direction: column;
  }
}

.ServisesPage_title__zoUDi {
  color: aliceblue;
  padding: 40px;
}
