@import '../../utils/styles/breckpoints.scss';
@import '../../utils/styles/variables.scss';
.container {
  display: none;
  @include medium {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    height: 0;
    width: 0;
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    background-color: $main-green;

    color: $main-gold;
  }
}

.links {
  transform: translateY(70px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
